.postEditTemplate{
    position:relative;
    width: 90%;
    height: 100%; 
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}


.postEditTemplate__Layout{
    position:relative;
    width: 100%; 
    background-color: white;
    padding-top: 2em;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
}

.postEditTemplate__Header{
    background-color: #fff;
    width: 100%;
    height: 10%;
}

.postEditTemplate__Header__Title{
    text-align: center;
    width: 100%;
}

.postEditTemplate__Content{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    height: 100%;
    
    background-color: white;
    
}


.postEditTemplate__Content__Label{
    margin-top: 2em;
    width: 100%;
}

.postEditTemplate__Content__Title{
    width: 100%;
}

.postEditTemplate__Content__Information{
    width: 100%;
}

.postEditTemplate__Content__Main{
    width: 100%;
    font-size: large;
    font-weight: 100;
}



.postEditTemplate__Footer{
    background-color: #fff;
    padding-left: 8%;
    padding-right: 8%;
}


.left-margin{
    margin-left: 10px;
}

.postEditTemplate__Footer__Button{
    float: right;
}
