
#qnaDetailContent__Layout{
    position:relative;
    width: 100%;
    height: 100%;
    background-color: white;
}
#qnaDetailContent__Header{
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 10%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 4%;
    margin-bottom: 2%;
}

#qnaDetailContent__Header__Row, #qnaDetailContent__Header__left, #qnaDetailContent__Header__middle, #qnaDetailContent__Header__right{
    height: 100%;
}

#qnaDetailContent__Header__middle{
    padding-left: 3%;
}
#qnaDetailContent__Header__right{
    text-align: right;
}
#qnaDetailContent__Content{
    width: 60%;
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    height: 100%;
    margin-bottom: 10%;
    background-color: white;
    
}
#qnaDetailContent__Content__Information__Row{
    display: block;
    white-space: nowrap;
    margin-bottom: 2%;
}
#qnaDetailContent__Content__Information{
    width: 100%;
}

#qnaDetailContent__Content__Title__Row{
    display: block;
    white-space: nowrap;
}
#qnaDetailContent__Content__Title{
    width: 100%;
}
#qnaDetailContent__Content__Main__Row{
    width:100%;
    word-break: break-all;
}
#qnaDetailContent__Content__Main{
    width: 100%;

}
/* #qnaDetailContent__Content{
    position: relative;
    height: 100%;
    background-color: white;
    
}

#qnaDetailContent__Title__Row__First{
    display: inline-block; 
    position: relative; 
    margin:2%;
    height:10%;
    width:15%;
}
#qnaDetailContent__Title__Avatar{
   
    position: relative;
    background-color: #624c40;
    vertical-align: top;
    margin-top:2%;
    margin-left:8%;
}
#qnaDetailContent__Title__Author{
    position:relative;
    width:100%;
    height: 20%;
    word-break: break-word;
    vertical-align: top;
    padding-top:2%;
    padding-left: 4%;
}
#qnaDetailContent__Title__Date{
    position: relative;
    width:100%;
    height: 20%;
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
    padding-top:10%;

}
#qnaDetailContent__Title__Row__Sec{
    display: inline-block; 
    position: relative; 
    vertical-align: top;
    padding:2%;
    height:10%;
    width:55%;
}
#qnaDetailContent__Title__Title{
    position: relative;
    width:100%;
    height: 30;
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
    padding-top:2%;
}
#qnaDetailContent__Title__Row__Third{
    display: inline-block; 
    position: relative; 
    vertical-align: top;
    padding-top:4%;
    height:10%;
    width: 5%;
}

#qnaDetailContent__Content__Title__Row{
    padding-left: 8%;
    display: block;
    white-space: nowrap;
}
#qnaDetailContent__Content__Title{
    width: 100%;
}
#qnaDetailContent__Content__Main__Row{
    padding-left: 8%;
    padding-right: 8%;
    width:100%;
    word-break: break-all;
} */
#qnaDetailContent__Sider{
    background-color: white;
    padding-right: 6%;
}

