#qnaDetailPage{
    position:absolute;

    top:0%;
    height: 100%;
    overflow:scroll;
    width: 100%;
    
}
#qnaDetailPage__Layout{
    position:relative;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top:10%;
    overflow: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}
#qnaDetailPage__Content{
    position:relative;
    background-color: white;
    display: flex;
    justify-content: center;   
    height: 100%;
    width: 100%;
    
}
#qnaDetailContent__Sider{
    position:relative;
    height: 100%;
}

.qnaDetailPage__Comment__Submit__Button{
    position: absolute;
    text-align: center;
    width: 7%;
    height: 5%;
    bottom:5%;
    right:5%;
    background-color: #8015e8;
    border-radius: 5px;
}