@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
#navButton{
    position: absolute;
    width: 45%;
    left: 20%;
    top:0;
    margin-top: 1.5%;
    margin-left:0.3%;

}
#navButton #button{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:black;
    border-style: none;
    background-color: white;
    margin-right: 5%;
}
#navButton #button--active{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#66e1c1;
    background-color: white;
    border-style: none;
    margin-right: 5%;
}
