#information__Top{
    width: auto;
    display: block;
    white-space: nowrap;
}
#information__School{
    width: auto;
    display: inline-block;

}
#information__Department{
    padding-left: 4%;
    width: auto;
    display: inline-block;
}
#information__Subject{
    padding-left: 4%;
    width: auto;
    display: inline-block;
}

#information__Instructor{
    padding-left: 4%;
    width: auto;
    display: inline-block;
}