.information__top{
    width: auto;
    display: block;
    white-space: nowrap;
    margin-bottom: 1em;
}

.information__School, .information__Department, .information__Subject, .information__Instructor, .information__Likes, .information__Favorite, .information__Unlock{
    padding-right: 4%;
    width: auto;
    display: inline-block;
}


.information__top__right{
    float: right;
}

.information__bottom{
    margin-bottom: 2em;
}

.information__RefPrice , .information__Price{
    text-align: right;
}