.FolderOutlineCard__Layout__Outer{
    position:relative;
    height: auto;
    min-height: 5em;
    width: 90%;
    max-width: 90%;
    background-color: #fff;
    margin-left:5%;
    margin-right:5%;
    margin-top:2.5%;
    margin-bottom:0%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
    cursor: pointer;
    
}
.FolderOutlineCard__Layout__Outer:hover{
    position:relative;
    height: 5em;
    width:45%;
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
   
    
}
.FolderOutlineCard__Content__Outer{
    position: relative;
    height: 100%;
    width: 100%;
   
    background-color: #FFF;
  
}
.FolderOutlineCard__Layout__Inner{
    position:relative;
    height:100%;
    width: 100%;
    background-color: #FFF;
    /* display: inline-block; */
}
.FolderOutlineCard__Header{
    position:relative;
    height: 25%;
    width: 100%;
    background-color: #FFF;
    margin-top: 1%;
    padding: 0;
  
}
.FolderOutlineCard__Header__Row{
    position:relative;
    height:100%;
    width: 100%;
    background-color: #FFF;
   
  
}
.FolderOutlineCard__Header__Left{
    
}
.FolderOutlineCard__Header__Right{
    position: relative;
    padding: 0;
}
.FolderOutlineCard__Header__NoteNum{
    position: relative;
    padding-left: 6em;
}
.FolderOutlineCard__Header__Right__sm{
    position: relative;
    padding-left: 3em;
}
.FolderOutlineCard__Header__NoteNum__sm{
    position: relative;
    padding-left: 3em;
}
.FolderOutlineCard__Sider__Outer{
    position: relative;
    padding-top:1%;
    height: 100%;
    
    background-color: #FFF; 
}

.FolderOutlineCard__Sider__NoteNumber{
    padding-top:3%;
}