.button{
    border-radius: 7px;
    border: none;
    height: 35px;
    font-weight: 600;
}

button .anticon-user{
    position: relative;
    margin-right: 0.5em;
    top: -0.2em;
    color: #fff;
    font-size: large;
}


.button__span{
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.btn-green{
    background-color: #1ADCAB;
}

.btn-green:hover{
    background-color: #00CCAA;
    transform: scale(1.05);
    transition: 0.2s;
}

.btn-purple{
    background-color: #8015E8;
}

.btn-purple:hover{
    background-color: #7F00DB;
    transform: scale(1.05);
    transition: 0.2s;
}

.btn-blue--disable{
    background-color: 	#7F00DB;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-black{
    background-color: #000;
}

.btn-black:hover{
    background-color: #222;
    transform: scale(1.05);
    transition: 0.2s;
}

.btn-blue{
    background-color: 	#2894FF;
}

.btn-blue--disable{
    background-color: 	#2894FF;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-blue:hover{
    background-color: #6363FF;
    transform: scale(1.05);
    transition: 0.2s;
}

.btn-red{
    background-color: 	#FF5151;
}

.btn-red--disable{
    background-color: 	#FF5151;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-red:hover{
    background-color: #DB0000;
    transform: scale(1.05);
    transition: 0.2s;
}

.btn-green2{
    background-color: #00A600;
}

.btn-white{
    background-color: #fff;
}
