.AvatarButton {
    position: relative;
    height: 100%;
    width: 100%;
}

.AvatarButton .ant-avatar{
    top: 50%;
    transform: translateY(-50%);
}

.AvatarButton__Dropdown{
    padding-top:.5em;
    width: auto !important;
}
.AvatarButton__Bell__Button{
   
}
/* .ant-dropdown-menu{
    width:30px;
    
} */
.AvatarButton__Dropdown .ant-dropdown-menu-item{
    padding-left: 1.2em;
    padding-right: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.AvatarButton__Avatar{
    cursor: pointer; 
}

.AvatarButton__Dropdown .ant-dropdown-menu-item .anticon{
    position: relative;
    margin-right: 0.5em;
    top: -0.2em;
    color: #fff;
    font-size: large;
}