.contentTemplate{
    position:relative;
    width: 90%;
    height: 100%; 
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.contentTemplate__Layout__outer{
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.contentTemplate__Layout{
    position:relative;
    width: 100%; 
    background-color: white;
    
}

.contentTemplate__Header{
    background-color: #fff;
    width: 100%;
    height: 10%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.contentTemplate__Header__left{
    height: 100%;
    margin-top: 1%;
}

.contentTemplate__Header__middle{
    height: 100%;
    padding-left: 3%;
}
.contentTemplate__Header__right{
    height: 100%;
    text-align: right;
}

.contentTemplate__Content{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    height: 100%;
    
    background-color: white;
    
}


.contentTemplate__Content__Title{
    margin-top: 1%;
}

.contentTemplate__Content__Information{
    width: 100%;
    margin-top: 1em;
}

.contentTemplate__Content__Title{
    width: 100%;
}

.contentTemplate__Content__Main{
    width: 100%;
    font-size: large;
    font-weight: 100;
}


.contentTemplate__Footer{
    background-color: #fff;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 1em;
}


.left-margin{
    margin-left: 10px;
}

.contentTemplate__Footer__Button{
    float: right;
}


.contentTemplate__Dropdown{
    font-size: 30px;
}

/* Reward Popped*/
.popped__blur{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    opacity: 0.6;
    z-index: 29;
}

.popped__Apply{
    position: fixed;
    top: 54%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
    transition: visibility 0s, opacity 0.3s linear;
}

.popped__Answer{
    position: fixed;
    top: 54%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
    transition: visibility 0s, opacity 0.3s linear;
}

.popped--show{
    visibility: visible;
    opacity: 1;
}

.detailNotice{
    position: fixed;
    background-color: #fff;
    padding: 2em 2em 1.5em 2em;
    border: thin #eee solid;
    top: 13%;
    left: 4%;
    height: 30vh;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: visibility 0s, opacity 0.3s linear;
}

.detailNotice--show{
    visibility: visible;
    opacity: 1;
}
