.commentArea{
    position: relative;
    background-color: #fff;
    width: 100%;
    height:100%;
}
p a{
    color: rgb(20, 222, 212) !important;
}
.commentArea .anticon{
    float: left;
    margin-top: 0.4em;
}

.commentArea__Button{
    float: right;
    padding-right: 1.5em;
    margin-bottom: 1em;
}

.commentArea__Input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1.5em;
}

.comment_MoreOption .anticon{
    margin-top: 1.5em;
    cursor: pointer;
}

.editing_Comment{
    border-bottom: solid .1px #ddd;
}

.editing_Comment .ant-input-group-addon{
    border: 0;
    background-color: #fff;
}

.editing_Comment .anticon{
    font-size: .9em;
    margin: 0;
    color: #777;
}