.IntroductionEditor{
    margin-right:5%;
    height:100%;
}
.IntroductionEditor__Input{
    
}
/* .IntroductionEditor__Editor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
} */
.IntroductionEditor__Name{
    height:100%;
    overflow-y: scroll;
}
.IntroductionEditor__Editor{
    margin-left:1%;
    margin-top:1.5%;
    margin-bottom: 1%;
    vertical-align: top;
}
.IntroductionEditor__Save{
    margin-top:0.5%;
    float: right;
}