@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;

}

html {
  height: 100vh;
  overflow: scroll;
  background-color: #fff;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  //display: none;
}

/* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
.nav-link {
  text-decoration: none;
  color: #666;
}


p{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

textarea:focus{
  outline: none;
}