.noteEditTemplate{
    position:relative;
    width: 90%;
    height: 100%;
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.noteEditTemplate__Layout{
    position:relative;
    width: 100%; 
    background-color: white;
    padding: 3.5% 5% 3.5% 5%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
}

.noteEditTemplate__Layout__Edit{
    position:relative;
    width: 100%; 
    background-color: white;
    padding: 3.5% 1% 3.5% 1%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
}


.noteEditTemplate__Header{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff ;
}

.noteEditTemplate__Steps{
    margin-top: 0.5em;
}


.noteEditTemplate__Row{
    position: relative;
    width: 100%;
    height: 100%;
}

.noteEditTemplate__Content{
    position: relative;
    width: 100%;
}

.noteEditTemplate__Footer{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 0;
    padding-top: 1em;
}

.noteEditTemplate__Footer__Buttons{
    margin-top: .5em;
}

.noteEditTemplate__Footer__Button{
    float: right;
    margin-left: 1em;
}

.noteEditTemplate__Footer__Button .anticon{
    color: #FFF;
    margin-right:0.3em;
    position: relative;
    top: -0.25em;
}

/* tag phase */
.noteEditTemplate__Content__Tags{
    margin-top: 3em;
    height: 50%;
}

.noteEditTemplate__Content__Tag{
    width: 49%;
    float: left;
}

.noteEditTemplate__Content__Tags .noteEditTemplate__Content__MyTag{
    margin-left: 2%;
}

.noteEditTemplate__Content__Tag  .ant-select-selection-overflow{
    display: block;
}

.noteEditTemplate__Content__Tag  .ant-select-selection-overflow-item{
    float: left;
}

.noteEditTemplate__Content__Tag  .ant-select-selection-overflow-item-suffix{
    /* margin-top: 0.1em; */
    height: 10em;
}

.noteEditTemplate__Content__RecommendTag  .ant-select-selection-search-input{
    display: none;
}

.noteEditTemplate__Content__Tag__List{
    display: none;
}

.noteEditTemplate__Content__Tag .anticon{
    position: relative;
    top: -0.18em;
}

.ant-popover-inner-content{
    padding: 0;
}

.versionItem {
    cursor: pointer;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.newVersion{
    padding-left: 1em;
    padding-right: 1em;
}

.versionItem:hover {
    background-color: #eee;
}

.noteEditTemplate__PostInfo{
    position: fixed;
    background-color: #fff;
    width: 2.5em;
    left: 0;
    top: 20vh;
    border-radius: 0 1em 1em 0;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    z-index: 99;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
}

.noteEditTemplate__PostInfo:hover .anticon, .noteEditTemplate__PostInfo:hover .noteEditTemplate__PostInfo__Title{
    color: #555;
    transition: .3s;
}

.noteEditTemplate__PostInfo .anticon{
    color: #ccc;
    cursor: pointer;
}

.noteEditTemplate__PostInfo__Title{
    color: #888;
    writing-mode: vertical-lr;
    margin-top: .5em;
}

.version__rename{
    border-bottom: solid .1px #ddd;
    margin: .8em 5% .8em 5%;
    width: 90%;
}

.version__rename .ant-input-group-addon{
    padding: 0 0.6em;
    cursor: pointer;
    font-size: .7em;
    border: 0;
    background-color: #fff;
    color: #777;
}

@media (max-width: 600px){
    .noteEditTemplate__Content__Tag{
        width: 100%;
    }
    .noteEditTemplate__Content__Tags .noteEditTemplate__Content__MyTag{
        margin-left: 0%;
    }
    .noteEditTemplate__Footer__Button{
        float: right;
        margin-left: 1em;
    }
    .noteEditTemplate__Footer__Buttons{
        width: 100%;
    }
}