.Comment{
    position: relative;
    width: 100%;
    height:100%;
    overflow-y: scroll;
}
.Comment__Title__Top{
    position: relative;
    width: 100%;
    padding-top:3%;
}
.Comment__Title{
    position: relative;
    text-align: center;
    width: 100%; 
}
.Comment__Block{
    position: relative; 
    height:auto;
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
}
.Comment__Author__Row{
    position: relative; 
    vertical-align: top;
    height:100%;
    width:60%;
}
.Comment__Main__Row{
    position: relative;
    width:100%;
    height: 30%;
    word-break: break-all;
}
.Comment__Main{
    position: relative;
    width:100%;
    height: 100%;
    word-break: break-all;
}
.Comment__Divider{
    position: relative;
    margin-top: 0.8em;
    margin-bottom: 1.5em;
}
.Comment__Author__Row__left{
    position: relative;
}
.Comment__Author__Row__OPInfo{
    position: relative;
}

.Comment__Title__Bottom{
    padding: 1em;
    padding-top: 0;
}

.Comment__Input{
    margin-top: 0.5em;
    margin-right: 1.5em;
}