.Comment{
    position: relative;
    width: 100%;
}
.Comment__Title__Row{
    position: relative;
    width: 100%;
    padding-top:3%;
}
.Comment__Title{
    position: relative;
    text-align: center;
    width: 100%; 
}
.Comment__Block{
   
    position: relative; 
    height:10%;
    width:100%;
}
/* .Comment__Avatar{
    position: relative;
    background-color: #624c40;
    vertical-align: top;
    height:10%;
    padding-left:3%;
} */
.Comment__Author__Row{
   
    position: relative; 
    vertical-align: top;
    height:10%;
    width:60%;
}
.Comment__Author{
    position:relative;
    width:100%;
    height:50%;
    word-break: break-word;
    vertical-align: top;
    padding-left: 6%;
}
.Comment__Date{
    position: relative;
    width:100%;
    height: 10%;
    padding-left: 6%;
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
    
}
.Comment__Main__Row{
    position: relative;
    width:100%;
    word-break: break-all;
}
.qnaContent__Comment__Main{
    position: relative;
}

.Comment__Author__Row__left{
    position: relative;
   
}
.Comment__Author__Row__OPInfo{
    position: relative;
    height: 100%;
}
