@media screen and (min-width: 1192px) {
    .FansNFollowerEditor__Media{
        width: 100%;
        position:relative;
        display: inline;
    }
    .FansNFollowerEditor{
        display: inline-block;
        position:relative;
        height: 3.5em;
        width: 45%;
        max-width: 45%;
        max-height: 3.5em;
        background-color: #fff;
        margin-left:2.5%;
        margin-right:2.5%;
        margin-bottom:2.5%;
        
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    }
    .FansNFollowerEditor__Avatar__Inner{
        cursor: pointer;
    }
    .FansNFollowerEditor__Name{
        padding-top:2.3%;
    }
    
    .FansNFollowerEditor__Fans{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        width: auto;
        word-break: break-all;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 6%;
        border-radius: 10%;
    }
    .FansNFollowerEditor__unFans{
        
    }
    .FansNFollowerEditor__Fans__UnFollow{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        background-color: #66e1c1;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 6%;
        border-radius: 10%;
    }
    .ant-popover-inner{
        padding-top:0.5em;
        padding-bottom:0.5em
    }
    .ant-popover-inner-content{
        margin:1em;
    }
  }
  @media screen and (min-width: 1024px)and (max-width: 1192px) {
    .FansNFollowerEditor__Media{
        width: 100%;
        position:relative;
        display: inline;
    }
    .FansNFollowerEditor{
        
        position:relative;
        height: 3.5em;
        width: 90%;
        max-width: 90%;
        max-height: 3.5em;
        background-color: #fff;
        margin-left:2.5%;
        margin-right:2.5%;
        margin-bottom:2.5%;
        
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    }
    .FansNFollowerEditor__Avatar__Inner{
        cursor: pointer;
    }
    .FansNFollowerEditor__Name{
        padding-top:2.3%;
    }
    
    .FansNFollowerEditor__Fans{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 5%;
        border-radius: 10%;
    }
    .FansNFollowerEditor__unFans{
        
    }
    .FansNFollowerEditor__Fans__UnFollow{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        word-break: break-all;
        background-color: #66e1c1;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left:7%;
        border-radius: 10%;
    }
    .ant-popover-inner{
        padding-top:0.5em;
        padding-bottom:0.5em
    }
    .ant-popover-inner-content{
        margin:1em;
    }
  }
  @media screen and (min-width: 768px)and (max-width: 1024px) {
    .FansNFollowerEditor__Media{
        width: 100%;
        position:relative;
        display: inline;
    }
    .FansNFollowerEditor{
       
        position:relative;
        height: 3.5em;
        width:90%;
        max-width: 90%;
        max-height: 3.5em;
        background-color: #fff;
        margin-left:2.5%;
        margin-right:2.5%;
        margin-bottom:2.5%;
        
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    }
    .FansNFollowerEditor__Avatar__Inner{
        cursor: pointer;
    }
    .FansNFollowerEditor__Name{
        padding-top:2.3%;
    }
    
    .FansNFollowerEditor__Fans{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 8%;
        border-radius: 10%;
    }
    .FansNFollowerEditor__unFans{
        
    }
    .FansNFollowerEditor__Fans__UnFollow{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        background-color: #66e1c1;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 12%;
        border-radius: 10%;
    }
    .ant-popover-inner{
        padding-top:0.5em;
        padding-bottom:0.5em
    }
    .ant-popover-inner-content{
        margin:1em;
    }
  }
  @media screen and (min-width: 391px)and (max-width: 768px) {
    .FansNFollowerEditor__Media{
        width: 100%;
        position:relative;
        display: inline;
    }
    .FansNFollowerEditor{
        position:relative;
        height: 3.5em;
        width: 90%;
        max-width: 90%;
        max-height: 3.5em;
        background-color: #fff;
        margin-left:2.5%;
        margin-right:2.5%;
        margin-bottom:2.5%;
        
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    }
    .FansNFollowerEditor__Avatar__Inner{
        cursor: pointer;
    }
    .FansNFollowerEditor__Name{
        padding-top:2.3%;
    }
    
    .FansNFollowerEditor__Fans{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 7%;
        border-radius: 10%;
    }
    .FansNFollowerEditor__unFans{
        
    }
    .FansNFollowerEditor__Fans__UnFollow{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        background-color: #66e1c1;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 9%;
        border-radius: 10%;
    }
    .ant-popover-inner{
        padding-top:0.5em;
        padding-bottom:0.5em
    }
    .ant-popover-inner-content{
        margin:1em;
    }
  }
  @media screen and (min-width: 0px)and (max-width: 391px)  {
    .FansNFollowerEditor__Media{
        width: 100%;
        position:relative;
        display: inline;
    }
    .FansNFollowerEditor{
        
        position:relative;
        height: 3.5em;
        width: 90%;
        max-width: 90%;
        max-height: 3.5em;
        background-color: #fff;
        margin-left:2.5%;
        margin-right:2.5%;
        margin-bottom:2.5%;
        
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    }
    .FansNFollowerEditor__Avatar__Inner{
        cursor: pointer;
    }
    .FansNFollowerEditor__Name{
        padding-top:2.3%;
    }
    
    .FansNFollowerEditor__Fans{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left:4%;
        border-radius: 10%;
    }
    .FansNFollowerEditor__unFans{
        
    }
    .FansNFollowerEditor__Fans__UnFollow{
        cursor: pointer;
        border: 1px solid;
        border-color: #dbdbdb;
        background-color: #66e1c1;
        word-break: break-all;
        width: auto;
        margin-top:3%;
        margin-right:0%;
        margin-bottom: 3%;
        padding-left: 7%;
        border-radius: 10%;
    }
    .ant-popover-inner{
        padding-top:0.5em;
        padding-bottom:0.5em
    }
    .ant-popover-inner-content{
        margin:1em;
    }
  }
