.ForgetPasswordPage{
    position:relative;
    width: 80%;
    height: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.ForgetPasswordPage__Outer{
    height: 100%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
  } 


.ForgetPasswordPage__Header{
  background-color: #fff;
  padding-top: 1em;
}

.ForgetPasswordPage__Sider{
  background-color: #fff;
}

.ForgetPasswordPage__Sider img{
  position: relative;
  padding: 0 4em 0 4em;
  width: 100%;
}

.ForgetPasswordPage__Sider__md{
  background-color: #fff;
  padding-top:8em
}

.ForgetPasswordPage__Sider__md img{
  position: relative;
  
  width: 100%;
}

.ForgetPasswordPage__Content{
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 6em;
}

.ForgetPasswordPage__Content__md{
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 3em;
}

.ForgetPasswordPage__Content__sm{
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.ForgetPasswordPage__Content__Text__Bottom{
  margin-bottom: 2em;
}

.ForgetPasswordPage__Form{
  position: relative;
  width: 100%;
}

.ForgetPasswordPage__Content__Form__Text{
  position: relative;
  width: 100%;
  margin-bottom: .1em;
}

.ForgetPasswordPage__Content__Form__Forgot {
  float: right;
  text-decoration: none;
}

.ForgetPasswordPage__Button{
  float: right;
}

.ForgetPasswordPage__Resend__Button{
    border: thin solid #ddd;
    height: 100%;
    margin-left: .3em;
    width: 4em;
    text-align: center;
    cursor: pointer;
}

.ForgetPasswordPage__Resend__Button:hover{
    background-color: #eee;
}

/*
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.Login__Form__Item{
  margin-top: 10%;
}*/