.Profile{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
    
}
.Profile__Layout__Outer{
    position: absolute;
    top: 10%;
    height: 100%;
    background-color: #EFF1F4;
    
    width: 100%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
} 
.Profile__Layout__Inner{
    position:relative;
    width: 70%;
    height: 100%; 
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.Profile__Content{
    height: 100%; 
    background-color: #FFF;
   
}
.Profile__Avatar__Outer{
    position: relative;
    display: flex;
    margin-bottom:0%;
    width: auto;
    height: auto;
    margin-top:30%;
    margin-left: 30%;
}
.Profile__Avatar__Inner{
    position: relative;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-left: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 100%;
}
.Profile__Avatar__Editor{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-left: 20%;
    opacity:0 ;
    cursor: pointer;
}
.Profile__Avatar__Editor:hover{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-left:  20%;
    opacity:0.8 ;
    cursor: pointer;
}
.Profile__Strength{
    position: relative;
}

.Profile__Sider{
    background-color: #FFF;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
    padding-top:3%;
}
.Profile__FirNSec__Row{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
/* .Profile__Fans{
    width: 35%;
    display: inline-block;
    vertical-align: middle;
} */
.Profile__TextEditor{
    position: relative;
    margin-top: 8%;
    margin-right:5%;
    margin-bottom: 0%;
    min-height: 10%;
}

.Profile__Email{
    position: relative;
    margin-top:0%;
    margin-right:5%;
    margin-bottom: 0%;
}
.Profile__Introduction{
    position: relative;
    margin-top: 3%;
    margin-right:5%;
    margin-bottom: 0%;
}
/* .Profile__AvatarSelector__Avatar__0:active,.Profile__AvatarSelector__Avatar__1:active,.Profile__AvatarSelector__Avatar__2:active,.Profile__AvatarSelector__Avatar__3:active,
.Profile__AvatarSelector__Avatar__4:active,.Profile__AvatarSelector__Avatar__5:active,.Profile__AvatarSelector__Avatar__6:active,.Profile__AvatarSelector__Avatar__7:active,
.Profile__AvatarSelector__Avatar__8:active,.Profile__AvatarSelector__Avatar__9:active,.Profile__AvatarSelector__Avatar__10:active,.Profile__AvatarSelector__Avatar__11:active,
.Profile__AvatarSelector__Avatar__12:active,.Profile__AvatarSelector__Avatar__13:active,.Profile__AvatarSelector__Avatar__14:active,.Profile__AvatarSelector__Avatar__15:active,
.Profile__AvatarSelector__Avatar__16:active,.Profile__AvatarSelector__Avatar__17:active,.Profile__AvatarSelector__Avatar__18:active,.Profile__AvatarSelector__Avatar__19:active,
.Profile__AvatarSelector__Avatar__20:active,.Profile__AvatarSelector__Avatar__21:active,.Profile__AvatarSelector__Avatar__22:active,.Profile__AvatarSelector__Avatar__23:active,
.Profile__AvatarSelector__Avatar__24:active,.Profile__AvatarSelector__Avatar__25:active,.Profile__AvatarSelector__Avatar__26:active,.Profile__AvatarSelector__Avatar__27:active{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
} */
.Profile__AvatarSelector__Avatar{
    margin:0.5%;
}
.Profile__AvatarSelector__Avatar__Active{
    margin:0.5%;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
