
.Profile__Layout__Inner{
    /* position: absolute;
    top: 10%; */
    width: 90%;
    height: 100vh; 
    /* height: auto; */
    margin-top: 2em;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
}
.Profile__Layout__Inner__lm{
    /* position: absolute;
    top: 10%; */
    width: 90%;
    height: auto;
    min-height: 120vh; 
    /* height: auto; */
    margin-top: 2em;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
}
.Profile__Layout__Inner__sm{
    /* position: absolute;
    top: 10%; */
    width: 90%;
    height: auto; 
    min-height: 120vh; 
    /* height: auto; */
    margin-top: 2em;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
}
.Profile__Content{
    height: 100%; 
    background-color: #FFF;
    margin-left:1%;
    
   
}
.Profile__Content__First__Row{
   
    margin-top:8%;
    width: 100%;
}

.Profile__Avatar__Outer{
    position: relative;
    display: flex;
    height: auto;
}
.Profile__Avatar__Inner{
    position: relative;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    
}
.Profile__Avatar__Editor{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-left:  50%;
    opacity:0 ;
    cursor: pointer;
}
.Profile__Avatar__Editor:hover{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-left:  50%;
    opacity:0.8 ;
    cursor: pointer;
}
.Profile__NameNEmail{
    display: inline;
    vertical-align: top;
}
.Profile__TextEditor{
    position: relative;
    min-height: 10%;
}
.Profile__Email{
    position: relative;
   overflow-x:scroll ;
    margin-top:0%;
    margin-right:5%;
    margin-bottom: 0%;
}

.Profile__Follow{
    position: relative;
    margin-top:3%;
    margin-right:0%;
    margin-bottom: 3%;
    padding-left:3%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5%;
}
.Profile__Bell{
    position: relative;
   
    margin-top:3%;
    margin-right:0%;
    margin-left:5%;
    margin-bottom: 3%;
    cursor: pointer;
    
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    /* border-radius: 5%; */
}
.Profile__Bell:hover{
    position: relative;
    margin-top:3%;
    margin-right:0%;
    margin-left:5%;
    margin-bottom: 3%;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    /* border-radius: 5%; */
}
.Profile__Bell__Icon{

}
.Profile__Follow:hover{
    position: relative;
    margin-top:3%;
    margin-right:0%;
    margin-bottom: 3%;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5%;
}
.Profile__Follow__Icon{
    width:auto ;
    padding-left:3%;
    margin-right:5%;
    /* margin-right:5%; */
}

.Profile__Strength{
    position: relative;
    width: 100%;
    padding-left: 1em;
}
.Profile__Strength__lm{
    position: relative;
    width: 100%;
    padding-left: 2.0em;
}
.Profile__Fans__lm{
    padding-left: 0em;
}
.Profile__Media{
    width: 100%;
    height: 100%;
}
.Profile__Sider{
    background-color: #FFF;
    height: 100%;
    display: block;
    padding-top:1.5%;
}
.Profile__Sider__Fir__Row{
    position: relative;
    width: 100%;
    height: 2em;
    margin-left:30%;
    margin-bottom: 5%;
}
.Profile__Sider__Fir__Row__md{
    position: relative;
    width: 100%;
    height: 2em;
    margin-left:15%;
    margin-bottom: 5%;
}
.Profile__Sider__Fir__Row__lm{
    position: relative;
    width: 100%;
    height: 2em;
    margin-left:10%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.Profile__Sider__Fir__Row__sm{
    position: relative;
    width: 100%;
    height: 2em;
    margin-left:3%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.Profile_Sider__Main_Content{
    overflow: scroll;
    overflow-x: hidden;
    height:80%;
    min-height: 80%;
    max-height: 80%;
    /* display: inline-flex;
    flex-flow: row wrap; */
    width: 100%;
}
.Profile__Introduction{
    position: relative;
    height:20%;
    margin-top: 3%;
    margin-right:5%;
    margin-bottom: 0%;
    padding-left: 1em;
}
.Profile__Introduction__lm{
    position: relative;
    height:20%;
    margin-top: 3%;
    margin-right:5%;
    margin-bottom: 0%;
    padding-left: 2.0em;
}
.Profile__AvatarSelector__Avatar{
    margin:0.5%;
    cursor: pointer;
}
.Profile__AvatarSelector__Avatar__Active{
    margin:0.5%;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
