.FansNFollower{
    margin:1%;
}
.FansNFollower__Row{

}
.FansNFollower__Follower__Card{
    margin-left:0%;
    width:80%;
    height: 80%;
    border-radius: 5%;

    
}
.FansNFollower__Fans__Card{
    width:80%;
    height: 80%;
    border-radius: 5%;
    

}