.FansNFollower{
    margin:10%;
}
.FansNFollower__Row{

}
.FansNFollower__Follower__Card{
    width:90%;
    height: 80%;
    border-radius: 5%;
    cursor: pointer;
}
.FansNFollower__Fans__Card{
    width:90%;
    height: 80%;
    border-radius: 5%;
    cursor: pointer;
}