// navbar 

#navbar {
    position: absolute;
    background-color: #f1f1ee;
    top: 0;
    width: 100%;
    height: 8%;
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      list-style: none;
      height: 100%; /* should be the same as line-height */
      line-height: 300%; /* should be the same as height */
      padding: 0 40px; /* "0" sets top and bottom padding to none */
    }
    li:hover {
      background-color: #ddd;
      transition: background 0.3s;
    }
  }