.rewardAnswer {
    width: 100%;
    height: 100%;
}

.rewardAnswer__Layout__outer{
    position: relative;
    background-color: #fff;
    height: 100%;
}
.rewardAnswer__Layout{
    background-color: #fff;
    height: 100%;
}
.rewardAnswer__Header{
    background-color: #fff;
}
.rewardAnswer__Content{
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
}

.rewardAnswer__Sider{
    position: relative;
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
}

.rewardAnswer__Sider .answerAuthor{
    overflow: hidden;
}


.rewardAnswer__Sider .ant-list-item-action{
    margin: 0;
}

.ScreenCapture{
    position: relative;
    height: 100%;
    width: 100%;
}