#noteDetailContent{
    position:relative;
    width: 90%;
    height: 100%; 
    margin-top: 2%;
    
    /* overflow: scroll; */
    
  
}
#noteDetailContent__Layout{
    position:relative;
    width: 100%;
    /* height: 100%; */
    
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
#noteDetailContent__Content{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    height: 100%;
    margin-bottom: 10%;
    background-color: white;
    
}

#noteDetailContent__Header{
    background-color: #fff;
    width: 100%;
    height: 10%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 4%;
    margin-bottom: 2%;
}

#noteDetailContent__Header__Row, #noteDetailContent__Header__left, #noteDetailContent__Header__middle, #noteDetailContent__Header__right{
    height: 100%;
}

#noteDetailContent__Header__middle{
    padding-left: 3%;
}
#noteDetailContent__Header__right{
    text-align: right;
}

#noteDetailContent__Title__Row__First{
    display: inline-block; 
    position: relative; 
    margin:2%;
    height:10%;
    width:15%;
}
#noteDetailContent__Title__Avatar{
   
    position: relative;
    background-color: #624c40;
    vertical-align: top;
    margin-top:2%;
    margin-left:8%;
}
#noteDetailContent__Title__Author{
    position:relative;
    width:100%;
    height: 20%;
    word-break: break-word;
    vertical-align: top;
    padding-top:2%;
    padding-left: 4%;
}
#noteDetailContent__Title__Date{
    position: relative;
    width:100%;
    height: 20%;
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
    padding-top:10%;

}
#noteDetailContent__Title__Row__Sec{
    display: inline-block; 
    position: relative; 
    vertical-align: top;
    padding:2%;
    height:10%;
    width:55%;
}
#noteDetailContent__Title__Title{
    position: relative;
    width:100%;
    height: 30;
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
    padding-top:2%;
}
#noteDetailContent__Title__Row__Third{
    display: inline-block; 
    position: relative; 
    vertical-align: top;
    padding-top:4%;
    height:10%;
    width: 5%;
}

#noteDetailContent__Content__Information__Row{
    display: block;
    white-space: nowrap;
    margin-bottom: 2%;
}
#noteDetailContent__Content__Information{
    width: 100%;
}

#noteDetailContent__Content__Title__Row{
    display: block;
    white-space: nowrap;
}
#noteDetailContent__Content__Title{
    width: 100%;
}
#noteDetailContent__Content__Main__Row{
    width:100%;
    word-break: break-all;
}
#noteDetailContent__Content__Main{
    width: 100%;

}
#noteDetailContent__Sider{
    background-color: white;
    padding-right: 6%;
}
#noteDetailContent__Comment__Title__Row{
    position: relative;
    width: 100%;
    padding-top:3%;
}
#noteDetailContent__Comment__Titile{
    position: relative;
    text-align: center;
    width: 100%; 
}
.noteDetailContent__Comment__Block{
    display: inline-block; 
    position: relative; 
    height: 15%;
    width:100%;
}
#noteDetailContent__Comment__Avatar{
    position: relative;
    background-color: #624c40;
    vertical-align: top;
    padding-left:3%;
}
#noteDetailContent__Comment__Author__Row{
    display: inline-block; 
    position: relative; 
    vertical-align: top;
    height:60%;
    width:20%;
}
#noteDetailContent__Comment__Author{
    position:relative;
    width:100%;
    height:30%;
    word-break: break-word;
    vertical-align: top;
    padding-left: 6%;
}
#noteDetailContent__Comment__Date{
    position: relative;
    width:100%;
    height: 50%;
    padding-left: 6%;
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
    
}
#noteDetailContent__Comment__Main__Row{
    width:100%;
    word-break: break-all;
}
#noteDetailContent__Comment__Main{
    width:100%;
}
