.detailNotice__Layout{
    position: relative;
    height: 100%;
    width: 100%;
}

.detailNotice__Header{
    position: relative;
    background-color: #fff;
    height: 25%;
    padding: 0;
}

.detailNotice__Header p{
    float: left;
    margin: 0;
    margin-right: 0.5em;
}

.detailNotice__Header .anticon{
    position: relative;
    float: right;
    margin-left: 1em;
}

.detailNotice__Content{
    background-color: #fff;
}

.detailNotice__Sider{
    background-color: #fff;
}

.detailNotice__Header__Title, .detailNotice__Header__Avatar, .detailNotice__Header__Name{
    float: left;
}