#OPInfo{
    position: relative;
    height: 100%;
}

#OPInfo__Row__Content{
    height: 100%;
}

#OPInfo__left__Content{
    width: 40%;
    height: 100%;
}

#OPInfo__right__Content{
    float: left;
    height: 100%;
    padding-top: 5%;
}

#OPInfo__left__Content{
    
}
#OPInfo__Row__Comment{
    position: relative;
    height: 100%;
}

#OPInfo__Avatar__Content{
    
}
#OPInfo__left__Comment{
    position: relative;
    width: 40%;
    height: 30%;
}
#OPInfo__right__Comment{
    position: relative;
    float: left;
    height: 90%;
   
}
#OPInfo__Author__Comment{
    position: relative;
    height: 40%;
}
#OPInfo__Date__Comment{
    position: relative;
    height: 40%;
}