.ResetPasswordPage{
    position:relative;
    width: 80%;
    height: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.ResetPasswordPage__Outer{
    height: 100%;
    box-shadow: rgba(60, 60, 60, 0.25) 0px 5px 10px 0px;
  } 


.ResetPasswordPage__Header{
  background-color: #fff;
  padding-top: 1em;
}

.ResetPasswordPage__Sider{
  background-color: #fff;
}

.ResetPasswordPage__Sider img{
  position: relative;
  padding: 4em;
  padding-top: 6em;
  width: 100%;
}

.ResetPasswordPage__Sider__md{
  background-color: #fff;
  padding-top:10em
}

.ResetPasswordPage__Sider__md img{
  position: relative;
  width: 100%;
}

.ResetPasswordPage__Content{
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 3.5em;
  padding-left: 1em;
  padding-right: 6em;
}

.ResetPasswordPage__Content__md{
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 3.5em;
  padding-left: 1em;
  padding-right: 3em;
}

.ResetPasswordPage__Content__sm{
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.ResetPasswordPage__Content__Text__Bottom{
  margin-bottom: 2em;
}

.ResetPasswordPage__Form{
  position: relative;
  width: 100%;
}

.ResetPasswordPage__Content__Form__Text{
  position: relative;
  width: 100%;
  margin-bottom: .1em;
}

.ResetPasswordPage__Content__Form__Forgot {
  float: right;
  text-decoration: none;
}

.ResetPasswordPage__Login__Button{
  float: left;
    
}

.ResetPasswordPage__Button{
  float: right;
}

.ResetPasswordPage__Form__Item{
    margin-bottom: 1em;
}