#noteDetailPage{
    position:absolute;

    top:0%;
    height: 100%;
    overflow:scroll;
    width: 100%;
    
}

#noteDetailPage__Layout{
    position:relative;
    margin-top:8%;
    height: 100%;
    width: 100%;
    
}
#noteDetailPage__Content{
    position:relative;
    background-color: white;
    display: flex;
    justify-content: center;   
    height: 100%;
    width: 100%;
    
}
